<div class="card-container" id="cards-sql">

    <mat-card id="card-generico" class="card-width">

        <mat-card-title>SQL Básico</mat-card-title>
        <mat-card-subtitle>Scripts de Estados e Municípios diretos e sem muita customização</mat-card-subtitle>

        <mat-card-content>
            <form [formGroup]="formScript" (submit)="gerarScriptGenerico()">

                <mat-grid-list cols="2" [rowHeight]="'4rem'">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field>
                            <input matInput placeholder="Schema"
                                   formControlName="schema"
                                   autocomplete="off"
                                   (keyup)="atualizarScriptExemplo()">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="3">

                        <code class="code-font">
                            <h5>Exemplo: </h5>
                            {{scriptExemplo}}
                        </code>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field>
                            <input matInput placeholder="Nome tabela estado"
                                   formControlName="nomeTabEstado"
                                   autocomplete="off"
                                   (keyup)="atualizarScriptExemplo()">
                            <mat-error *ngIf="formScript.get('nomeTabEstado').hasError('required')">
                                Esta campo é obrigatório!
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field>
                            <input matInput placeholder="Nome tabela munício"
                                   formControlName="nomeTabMunicipio"
                                   autocomplete="off">
                            <mat-error *ngIf="formScript.get('nomeTabMunicipio').hasError('required')">
                                Esta campo é obrigatório!
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <button mat-stroked-button
                                color="primary"
                                [disabled]="isScriptGenericoSendoGerado"
                                type="submit">
                            <i class="material-icons">
                                check
                            </i>
                            Gerar Script
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card-content>

        <mat-progress-spinner *ngIf="isScriptGenericoSendoGerado"
                              class="spinner-card" [mode]="'indeterminate'"></mat-progress-spinner>
    </mat-card>

    <mat-card class="card-width">

        <mat-card-title>SQL Avançado</mat-card-title>
        <mat-card-subtitle>Scripts de Regiões, Estados e Municípios com alta customização para cada caso</mat-card-subtitle>

        <mat-card-content class="card-body-container">

            <mat-horizontal-stepper [linear]="true">
                <mat-step #stepper [stepControl]="formTipoBanco">
                    <form [formGroup]="formTipoBanco">
                        <ng-template matStepLabel>Escolha o Banco</ng-template>
                        <mat-button-toggle-group #group="matButtonToggleGroup"
                                                 (click)="formTipoBanco.get('nome').setValue(group.value)">
                            <mat-button-toggle *ngFor="let bancoSuportado of listaBancosSuportados"
                                               value="{{bancoSuportado.nome}}">
                                <img src="{{bancoSuportado.icon}}" style="width: 90px;">
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <div>
                            <button mat-stroked-button
                                    color="primary" matStepperNext>Próximo</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="formDadosScript">
                    <form [formGroup]="formDadosScript">
                        <ng-template matStepLabel>Dados Script</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="Address"  required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Baixar Script</ng-template>
                    You are now done.
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>

