@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/toggle-button";

html {

  background-color: #3f51b5;
  font-family: 'Roboto', sans-serif;
}

.mat-form-field-label {

  font-size: 1rem !important;
}